
/* Estilos de titulos e subtitulos */
.class-titulo {

    color: rgb(233, 97, 0);
    font-size: 30px;

}

.class-subtitulos{

    color: rgb(109, 68, 27);
    font-size: 20px;

}


/* Estilos de texto padrões */
.class-texto-padrao{

    color: rgb(105, 105, 105);

}

.class-titulo-tabela{

    color: rgb(138, 33, 33);

}

p {

    color: rgb(71, 71, 71);

}

label {

    color: rgb(83, 83, 83);
    font-size: 15;

}

th {

    color: rgb(138, 35, 35);

}

td {

    color: darkgreen;

}